@font-face {
  font-family: open_sanssemibold;
  src: url(../fonts/opensans/opensans-semibold-webfont.eot);
  src: url(../fonts/opensans/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-semibold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-semibold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-semibold-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sansregular;
  src: url(../fonts/opensans/opensans-regular-webfont.eot);
  src: url(../fonts/opensans/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-regular-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-regular-webfont.woff) format("woff"), url(../fonts/opensans/opensans-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sanslight;
  src: url(../fonts/opensans/opensans-light-webfont.eot);
  src: url(../fonts/opensans/opensans-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-light-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-light-webfont.woff) format("woff"), url(../fonts/opensans/opensans-light-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open_sansbold;
  src: url(../fonts/opensans/opensans-bold-webfont.eot);
  src: url(../fonts/opensans/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/opensans/opensans-bold-webfont.woff2) format("woff2"), url(../fonts/opensans/opensans-bold-webfont.woff) format("woff"), url(../fonts/opensans/opensans-bold-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik SemiBold"), local("Rubik-SemiBold"), url("../fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.modal-module__block_creation-registration {
  max-width: 420px;
  min-height: 378px;
}

.creation-registration {
  font: 400 1rem "Rubik";
}

.write-data__title {
  font-size: 1.5em;
  line-height: 1.401em;
  margin: 0;
  font-weight: 500;
  text-align: center;
  color: #1A202C;
}
.write-data__description {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  font-family: "open_sansregular";
  color: #4A5568;
  margin-top: 1.5em;
  text-align: center;
}
.write-data__wrapper-input {
  margin-top: 1.5em;
  text-align: center;
}
.write-data__wrapper-btn {
  margin-top: 1.5em;
  text-align: center;
}

.cb-input-module {
  font-size: 1.25em;
  line-height: 1.35em;
  margin: 0;
  font-family: "Rubik";
  font-weight: 400;
  border-radius: 0.4em;
  padding: 0.6em 1.2em 0.4em;
  border: 1px solid #EAEAEA;
  max-width: 318px;
  width: 100%;
  box-sizing: border-box;
  color: #1A202C;
}

.cb-input-module:focus {
  outline: none;
  border: 1px solid rgb(208, 186, 101);
  box-shadow: rgb(254, 218, 78) 0px 0px 10px;
}

.cb-btn-module {
  font-size: 1em;
  line-height: 1.362em;
  margin: 0;
  font-family: "open_sanssemibold";
  padding: 0.75em;
  border-radius: 0.5em;
  border: 2px solid #E63756;
  background-color: #E63756;
  color: #FFFFFF;
  max-width: 318px;
  width: 100%;
  box-sizing: border-box;
}

.cb-btn-module:hover {
  cursor: pointer;
}

.cb-btn-module_disabled {
  border-color: transparent;
  background-color: rgba(230, 55, 86, 0.65);
}

.cb-btn-module_disabled:hover {
  cursor: default;
}

.cb-btn-module_hover-light:hover {
  border-color: transparent;
  background-color: rgba(230, 55, 86, 0.9);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.cb-btn-module_hover-dark:hover {
  filter: brightness(0.95);
  transition: filter 0.3s ease;
}

.cb-link-module {
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: "open_sansregular";
  font-size: 1em;
  color: rgba(230, 55, 86, 0.9);
}

.cb-link-module:hover {
  cursor: pointer;
  text-decoration: underline;
}

.confirmation-sms__title {
  font-size: 1.5em;
  line-height: 1.401em;
  margin: 0;
  font-weight: 500;
  text-align: center;
  color: #1A202C;
}
.confirmation-sms__description {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  font-family: "open_sansregular";
  color: rgba(74, 85, 104, 0.65);
  margin-top: 1.5em;
  text-align: center;
}
.confirmation-sms__description_phone {
  color: #4A5568;
}
.confirmation-sms__description_timer {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  color: rgba(74, 85, 104, 0.65);
  margin-top: 0.625em;
}
.confirmation-sms__code {
  font-size: 1.5em;
  line-height: 1.334em;
  margin: 0;
  text-align: center;
  letter-spacing: 0.334em;
  max-width: none;
  width: 156px;
  border: 2px solid #EAEAEA;
  padding: 0.459em 1.2em 0.375em;
}
.confirmation-sms__code:focus {
  outline: none;
  border: 2px solid rgba(208, 186, 101, 0.6);
  box-shadow: rgb(254, 218, 78) 0px 0px 10px;
}
.confirmation-sms__code::-moz-placeholder {
  color: rgba(74, 85, 104, 0.65);
}
.confirmation-sms__code:-ms-input-placeholder {
  color: rgba(74, 85, 104, 0.65);
}
.confirmation-sms__code::placeholder {
  color: rgba(74, 85, 104, 0.65);
}
.confirmation-sms__wrapper-code {
  margin-top: 3em;
  text-align: center;
}
.confirmation-sms__wrapper-input {
  margin-top: 1.5em;
  text-align: center;
}
.confirmation-sms__wrapper-btn {
  margin-top: 3em;
  text-align: center;
}
.confirmation-sms__wrapper-link {
  margin-top: 1.5em;
  text-align: center;
}
.confirmation-sms__wrapper-link_change-num {
  margin-top: 0.75em;
}/*# sourceMappingURL=creation-registration.css.map */